# database credentials
export DATABASE_USERNAME="postgres"
export DATABASE_PASSWORD="postgres"

# cp_backend 
export CP_BACKEND_DB="cp_backend_dev"
export CP_BACKEND_PORT=4000
export CP_BACKEND_TCP_PORT=5050
export CP_BACKEND_PROVISIONING_KEY="supersecret123"

# cp_host / wep app for acquiring keys
export HOST_DATABASE_NAME="cp_host_dev"

export HOST_PORT=4001
export HOST_EMAIL_PROVIDER_API_KEY="your-email-api-key"
export HOST_SMS_PROVIDER_API_KEY="your-sms-api-key"
export HOST_BACKEND_TCP_PORT=5050
export HOST_BACKEND_PROVISIONING_KEY="supersecret123"

# lumina (test app)
export LUMINA_DATABASE_NAME="lumina_dev"
export LUMINA_DATABASE_HOST="127.0.0.1"
export LUMINA_DATABASE_PORT=5432
export CHRONOPIPE_KEY_ID=onvv7vnonyfwm
export CHRONOPIPE_KEY=78708e05-9179-4294-b1b3-9d4cf43383c3
export LUMINA_CHRONOPIPE_HOST="localhost"
export LUMINA_BACKEND_TCP_PORT=5050